@font-face {
  font-family: "iconfont"; /* Project id 1630863 */
  src: url('iconfont.woff2?t=1635037296437') format('woff2'),
       url('iconfont.woff?t=1635037296437') format('woff'),
       url('iconfont.ttf?t=1635037296437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recommend1:before {
  content: "\e799";
}

.icon-quxiao:before {
  content: "\e65c";
}

.icon-bg-save:before {
  content: "\e998";
}

.icon-fenxiang:before {
  content: "\e997";
}

.icon-shouzhi-copy:before {
  content: "\e111";
}

.icon-chakanyanjingshishifenxi:before {
  content: "\e6ad";
}

.icon-dianzan:before {
  content: "\e698";
}

.icon-tupian:before {
  content: "\e66d";
}

.icon-shipin1:before {
  content: "\e695";
}

.icon-shezhi:before {
  content: "\e980";
}

.icon-fasongfuben:before {
  content: "\e978";
}

.icon-danmushezhi:before {
  content: "\e979";
}

.icon-danmuguan:before {
  content: "\e977";
}

.icon-danmukai:before {
  content: "\e976";
}

.icon-yumaobi:before {
  content: "\e796";
}

.icon-a-tubiao_caozuo_beisu15_xian:before {
  content: "\e780";
}

.icon-image:before {
  content: "\e781";
}

.icon-danmu:before {
  content: "\e782";
}

.icon-quanping:before {
  content: "\e783";
}

.icon-xian:before {
  content: "\e784";
}

.icon-xian1:before {
  content: "\e785";
}

.icon-xian2:before {
  content: "\e786";
}

.icon-xian3:before {
  content: "\e787";
}

.icon-xian4:before {
  content: "\e788";
}

.icon-abe48e4ef7b2aa0f6c04d3a6d48251:before {
  content: "\e79a";
}

.icon-biaoqian:before {
  content: "\e792";
}

.icon-top01:before {
  content: "\e794";
}

.icon-recommend:before {
  content: "\e795";
}

